<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/post.css" />
</head>
<body>
    <div class="container">
    <%- include ('./partials/menu') %>
    <%#- include ('./partials/messages') %>
    <% entries.forEach((entry)=>{ %>
        <div class="card entry" style="width: 66rem;">
            <div class="card-body ">
                <h4 class="card-title">Заголовок :  <%= entry.title %></h4>
                <p class="card-text">
                    <h6>Сообщение :    <%= entry.content %> </h6>   
                </p>
                </br>
                <h6>Запостил :   <%= entry.username %> </h6>                
                <% if(locals.user){ %>
                <a href="/update/<%= entry.id %>" class="btn-update position-absolute bottom-0 end-0 p-1">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>
            <button class="btn-delete position-absolute bottom-0 start-50 translate-middle-x w-25" data-id="<%=entry.id%>">
                <i class="fa-solid fa-trash-can-arrow-up " data-id="<%=entry.id%>"></i>
            </button>
                <%}%>
                
            </div>
        </div> 
        </br>
    <% }) %> 
    </div>
<style>
i {
    color: black;
}
</style>



    <script>
        document.addEventListener('click', (e)=>{
            const id = e.target?.dataset?.id || null
            if(id){
                fetch(`/${id}`, {
                    method: 'DELETE'
                }).then(()=>{
                    window.location.reload()
                })
                
            }
        })
    </script>
</body>
</html>